name: Build and deploys a container to ECS
on:
    workflow_call:
      inputs:
        application-name:
          required: true
          type: string
        ecs-cluster:
          required: true
          type: string
        aws-region:
          default: ap-southeast-2
          type: string
          required: false
        image-tag:
          required: true
          type: string
        healthcheck-url:
          required: true
          type: string
      secrets:
        aws-access-key-id:
          required: true
        aws-secret-access-key:
          required: true

jobs:
    deploy:
        name: Deploy to production
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.aws-access-key-id }}
                  aws-secret-access-key: ${{ secrets.aws-secret-access-id }}
                  aws-region: ${{ inputs.aws-region }}

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Build, tag, and push image to Amazon ECR
              uses: ./.github/actions/build-and-push-container@v1
              id: build-image
              with: 
                  image-tag: ${{ inputs.image-tag }}
                  application-name: ${{ inputs.application-name }}
                  ecr-registry: ${{ inputs.ecr-registry }}

            - name: Update service
              uses: ./.github/actions/update-service@v1
              with:
                ecs-cluster: ${{ inputs.ecs-cluster }}
                application-name: ${{ inputs.application-name }}

            - name: Healthcheck
              uses: ./.github/actions/perform-healthcheck@v1
              with:
                  sha: ${{ inputs.image-tag }}
                  healthcheck-url: ${{ inputs.healthcheck-url }}

            # - name: Cleanup unused images
            #   run: |
            #       export AWS_PAGER=cat
            #       arr=$(aws ecr describe-images --repository-name $APPLICATION_NAME --no-paginate | jq -r '.imageDetails |= sort_by(.imagePushedAt) | .imageDetails[0:-2] | .[].imageDigest')
            #       toDelete=$(node -e "console.log(process.argv[1].split('\n').filter(x => x.trim() !== '').map(x => 'imageDigest=' + x).join(' '))" "${arr[*]}")
            #       if [[ "$toDelete" -eq "" ]]; then
            #         echo "no old images to delete from ECS."
            #         exit 0
            #       fi

            #       echo "deleting: $toDelete"
            #       aws ecr --no-paginate batch-delete-image --repository-name $APPLICATION_NAME --image-ids $toDelete
